:root {
  --myWhite: #FFFFFF;

}
#App {
 background-color:  grey;
 padding-right: 0;
 min-width: 0;
 width: 100%;
}

.bannerContainer{
  background-color: var(--myWhite);
  }

  #botContainer{
    padding-left: 0;
    padding-right: -10;
    /* padding: 0; */
    margin: 10px 0;
    height: auto;
  }

  h1{
    width: 100vw;
    padding: 10px 20px;
  }
